p {
  margin: 0;
}

h1 {
  margin: 0;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 26%);
  }

  100% {
    background-color: hsl(0, 0%, 18%);
  }
}